nav {

    text-align: center;
    background-color:white;
    opacity: 0.3;
    position:fixed;
    width: 100%;
    height: 150;



}



.navbar li {
    display: inline;
    padding: 100px;
}
.navbar a {
  text-decoration: none;
    color: black;
}

#myVideo {
  width: 1500px;
  height: 900px;
}
#home {
  color:white;
  text-align: center;
    height:900px;
    background: #000;

}
#vid{
  border: none;
  width:800px;
  height:450px;
}


#about {
  text-align: center;
  color: white;
  text-shadow: grey;
    background-image: url(pic1.jpg);
    background-repeat: repeat;
    height:900px;
    padding: 200px 0px;
}



#contact {
  text-align: center;
  color: white;
    background-color: #000;
    height: 100px;
    padding: 50px 20px;
}
