#centerstuff{
  text-align: center;
}


#navigation{
  width: auto;
  height: auto;
 border: 25px solid hotpink;
 padding: 25px;
 margin: 25px;
}

nav li{
  list-style-type: none;
  text-decoration-color: white;
  text-align: center;
  float: left;
  width: 100px;
  display: block;
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
}
